:host {
  display: flex;
  padding: 0.5em;

  seed-me-home-rtorrent-status {
    padding: 0.5em;
    min-width: 16em;
    flex: 1 1 20%;
  }

  .content {
    display: flex;
    min-width: 0;
    flex: 1 1 80%;
    flex-direction: column;
  }
  seed-me-home-rtorrent-torrents,
  seed-me-home-direct-download {
    padding: 0.5em;
  }

  @media only screen and (max-width: 800px) {
    flex-direction: column;

    seed-me-home-rtorrent-status {
      flex: 1 1 100%;
    }
    seed-me-home-rtorrent-torrents,
    seed-me-home-direct-download {
      flex: 1 1 100%;
    }
  }
}
