:host {
  .file-name {
    white-space: nowrap;
  }
  .mdc-dialog__title {
    font-size: 1.2em !important;
    line-height: 1.2em !important;
  }
  .mat-mdc-dialog-content {
    padding-bottom: 1em;
  }
  .mat-mdc-radio-button ~ .mat-radio-button {
    margin-left: 1.5em;
  }
  mat-form-field {
    width: 100%;
  }
}
