<div *ngIf="index==0" class="header">
  <span class="name" (click)="toggleSort('name')" [class.unselected]="(sortItem!=='name')">
    <mat-icon *ngIf="(sortItem!=='name') || (sortDirection!=='asc')">keyboard_arrow_down</mat-icon>
    <mat-icon *ngIf="(sortItem==='name') && (sortDirection==='asc')">keyboard_arrow_up</mat-icon>
    {{'name' | translate}}
  </span>
  <span class="done" (click)="toggleSort('progress')" [class.unselected]="(sortItem!=='progress')">
    <mat-icon *ngIf="(sortItem!=='progress') || (sortDirection!=='asc')">keyboard_arrow_down</mat-icon>
    <mat-icon *ngIf="(sortItem==='progress') && (sortDirection==='asc')">keyboard_arrow_up</mat-icon>
    {{'progress' | translate}}
  </span>
  <span class="size"  (click)="toggleSort('size')" [class.unselected]="(sortItem!=='size')">
    <mat-icon *ngIf="(sortItem!=='size') || (sortDirection!=='asc')">keyboard_arrow_down</mat-icon>
    <mat-icon *ngIf="(sortItem==='size') && (sortDirection==='asc')">keyboard_arrow_up</mat-icon>
    {{'size' | translate}}
  </span>
  <span class="date" (click)="toggleSort('date')" [class.unselected]="(sortItem!=='date')">
    <mat-icon *ngIf="(sortItem!=='date') || (sortDirection!=='asc')">keyboard_arrow_down</mat-icon>
    <mat-icon *ngIf="(sortItem==='date') && (sortDirection==='asc')">keyboard_arrow_up</mat-icon>
    {{'added' | translate}}
  </span>
</div>
<div class="title">
  <mat-icon *ngIf="file && !file.isDirectory && (file?.downloaded !== file?.size) && (file?.downloaded === 0)"
            color="warn"
            title="{{ 'seed.seedbox.downloaded' | translate}}"
  >save_alt</mat-icon>
  <mat-icon *ngIf="file && !file.isDirectory && (file?.downloaded !== file?.size) && (file?.downloaded !== 0)"
            color="primary"
            title="{{ 'seed.local.download' | translate}}"
  >save_alt</mat-icon>
  <mat-icon *ngIf="file && !file.isDirectory && (file?.downloaded === file?.size)"
            color="primary"
            title="{{ 'seed.done' | translate}}"
  >done</mat-icon>
  <mat-icon *ngIf="file && file.isDirectory && !open"
            color="{{file?.downloaded === file?.size ? 'primary' : 'warn'}}"
            (click)="toggleOpen()"
  >chevron_right</mat-icon>
  <mat-icon *ngIf="file && file.isDirectory && open"
            color="{{file?.downloaded === file?.size ? 'primary' : 'warn'}}"
            (click)="toggleOpen()"
  >expand_more</mat-icon>
  <span title="{{file?.path}}">{{file?.path}}</span>
  <button mat-icon-button [matMenuTriggerFor]="moreActionMenu" #menuTrigger='matMenuTrigger'><mat-icon>more_horiz</mat-icon></button>
  <mat-menu #moreActionMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="move()"><mat-icon>save_alt</mat-icon>{{ 'file.move' | translate}}</button>
    <button mat-menu-item *ngIf="removeEnable" (click)="remove()"><mat-icon>delete_forever</mat-icon>{{ 'file.erase' | translate}}</button>
  </mat-menu>
</div>
<div class="progress" title="{{(100 * file?.downloaded/file?.size).toFixed(0) + '% ' + getEta()}}">
  <mat-progress-bar mode="determinate" value="{{100 * file?.downloaded/file?.size}}" color="{{file?.downloaded === file?.size ? 'primary' : 'warn'}}"></mat-progress-bar>
</div>
<div class="info">
  <span class="done"> </span>
  <span class="size">{{file?.size | bytesSize}}</span>
  <span class="date">{{formatDate(file?.modifiedDate)}}</span>
</div>
<div class="children" [class.open]="open" *ngIf="file?.children.length">
  <seed-me-home2-files-files-item
      *ngFor="let child of file?.children"
      [file]="child"
      (removeFileEvent)="removeFileEvent.emit($event)"
  ></seed-me-home2-files-files-item>
</div>
