@mixin nav-bar-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  seed-me-home-nav-bar {
    color: mat-color($primary, default-contrast);

    .nav-bar,
    .nav-bar-header {
      background: mat-color($primary);
    }
  }
}
