@mixin nav-bar-component-theme($theme) {
  $primary: mat.get-color-from-palette($theme, primary);
  $accent: mat.get-color-from-palette($theme, accent);
  $warn: mat.get-color-from-palette($theme, warn);
  $background: mat.get-color-from-palette($theme, background);
  $foreground: mat.get-color-from-palette($theme, foreground);

  seed-me-home-nav-bar {
    color: mat.get-color-from-palette($primary, default-contrast);

    .nav-bar,
    .nav-bar-header {
      background: mat.get-color-from-palette($primary);
    }
  }
}
