:host {
  .nav-bar-header {
    display: flex;
    align-items: center;
    padding: 8px 16px;

    .nav-bar-header-left {
      flex: 1 1 100%;
    }

    .nav-bar-header-right {
      flex: 1 0 auto;
      display: flex;
      align-items: center;
      margin-right: 1em;
      flex-direction: row;
    }
  }

  .title {
    font-size: 1em;

    .version {
      font-size: 0.5em;
      position: absolute;
      right: 0.5em;
      bottom: 0.5em;
      line-height: 0.5em;
    }
  }

  .link-text {
    margin: 0.3em;
    text-transform: uppercase;
  }

  .user {
    display: flex;
  }

  .version-small {
    font-size: 0.5em;
    position: absolute;
    top: 0.5em;
    right: 0.1em;
    line-height: 0.5em;
    display: none;
  }

  @media (max-width: 720px) {
    .nav-bar-header .title,
    .link-text,
    .flex-spacer {
      display: none;
    }

    .nav-bar-header .nav-bar-header-right {
      flex-direction: column;

      .version-small {
        display: block;
      }
    }
  }
}
