:host {
  display: flex;
  padding: 0.5em;

  seed-me-home-files-status {
    padding: 0.5em;
    min-width: 14em;
    flex: 1 1 20%;
  }

  seed-me-home-files-files {
    padding: 0.5em;
    min-width: 0;
    flex: 1 1 40%;
  }

  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }
}
