<div *ngIf="index==0" class="header">
  <span class="done" (click)="toggleSort('progress')" [class.unselected]="(sortItem!=='progress')">
    <mat-icon *ngIf="(sortItem!=='progress') || (sortDirection!=='asc')">keyboard_arrow_down</mat-icon>
    <mat-icon *ngIf="(sortItem==='progress') && (sortDirection==='asc')">keyboard_arrow_up</mat-icon>
    {{'progress' | translate}}
  </span>
  <span class="size"  (click)="toggleSort('size')" [class.unselected]="(sortItem!=='size')">
    <mat-icon *ngIf="(sortItem!=='size') || (sortDirection!=='asc')">keyboard_arrow_down</mat-icon>
    <mat-icon *ngIf="(sortItem==='size') && (sortDirection==='asc')">keyboard_arrow_up</mat-icon>
    {{'size' | translate}}
  </span>
  <span class="down" (click)="toggleSort('down')" [class.unselected]="(sortItem!=='down')">
    <mat-icon *ngIf="(sortItem!=='down') || (sortDirection!=='asc')">keyboard_arrow_down</mat-icon>
    <mat-icon *ngIf="(sortItem==='down') && (sortDirection==='asc')">keyboard_arrow_up</mat-icon>
    {{'down' | translate}}
  </span>
  <span class="up" (click)="toggleSort('up')" [class.unselected]="(sortItem!=='up')">
    <mat-icon *ngIf="(sortItem!=='up') || (sortDirection!=='asc')">keyboard_arrow_down</mat-icon>
    <mat-icon *ngIf="(sortItem==='up') && (sortDirection==='asc')">keyboard_arrow_up</mat-icon>
    {{'up' | translate}}
  </span>
  <span class="ratio" (click)="toggleSort('ratio')" [class.unselected]="(sortItem!=='ratio')">
    <mat-icon *ngIf="(sortItem!=='ratio') || (sortDirection!=='asc')">keyboard_arrow_down</mat-icon>
    <mat-icon *ngIf="(sortItem==='ratio') && (sortDirection==='asc')">keyboard_arrow_up</mat-icon>
    {{'ratio' | translate}}
  </span>
  <span class="date" (click)="toggleSort('date')" [class.unselected]="(sortItem!=='date')">
    <mat-icon *ngIf="(sortItem!=='date') || (sortDirection!=='asc')">keyboard_arrow_down</mat-icon>
    <mat-icon *ngIf="(sortItem==='date') && (sortDirection==='asc')">keyboard_arrow_up</mat-icon>
    {{'added' | translate}}
  </span>
</div>
<div class="title" title="{{torrent?.name}}">
  <mat-icon *ngIf="torrent && !torrent.active" color="warn">pause</mat-icon>
  <mat-icon *ngIf="torrent && torrent.active && !torrent.complete" color="primary">cloud_download</mat-icon>
  <mat-icon *ngIf="torrent && torrent.active && torrent.complete && (torrent.downloaded === 0)" color="warn">save_alt</mat-icon>
  <mat-icon *ngIf="torrent && torrent.active && torrent.complete && (torrent.downloaded !== 0) && (torrent.downloaded !== torrent.size)" color="primary">save_alt</mat-icon>
  <mat-icon *ngIf="torrent && torrent.active && torrent.complete && (torrent.downloaded !== 0) && (torrent.downloaded === torrent.size)" color="primary">done</mat-icon>
  <span>{{torrent?.name}}</span>
  <button mat-icon-button [matMenuTriggerFor]="moreActionMenu" #menuTrigger='matMenuTrigger'><mat-icon>more_horiz</mat-icon></button>
  <mat-menu #moreActionMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="pause()" *ngIf="torrent && torrent.active"><mat-icon>pause</mat-icon>{{ 'seed.pause' | translate}}</button>
    <button mat-menu-item (click)="start()" *ngIf="torrent && !torrent.active"><mat-icon>play_arrow</mat-icon>{{ 'seed.start' | translate}}</button>
    <button mat-menu-item (click)="remove()"><mat-icon>delete_forever</mat-icon>{{ 'seed.erase' | translate}}</button>
    <button mat-menu-item (click)="shouldGetFromSeeBox(true)" *ngIf="torrent && !torrent.shouldDownload"><mat-icon>save_alt</mat-icon>{{ 'seed.save_here' | translate}}</button>
    <button mat-menu-item (click)="shouldGetFromSeeBox(false)" *ngIf="torrent && torrent.shouldDownload"><mat-icon>block</mat-icon>{{ 'seed.not_save_here' | translate}}</button>
  </mat-menu>
</div>
<div class="progress">
  <mat-progress-bar mode="determinate" value="{{100 * torrent?.completed/torrent?.size}}" color="{{torrent?.completed === torrent?.size ? 'primary' : 'warn'}}"></mat-progress-bar>
  <mat-progress-bar mode="determinate" value="{{100 * torrent?.downloaded/torrent?.size}}" color="{{torrent?.downloaded === torrent?.size ? 'primary' : 'warn'}}"></mat-progress-bar>
</div>
<div class="info">
  <span class="done">&nbsp;</span>
  <span class="size">{{torrent?.size | bytesSize}}</span>
  <span class="down" [class.highlight]="torrent?.down_rate > 0">
    <mat-icon>cloud_download</mat-icon>{{torrent?.down_rate | bytesSize}}/s
  </span>
  <span class="up" [class.highlight]="torrent?.up_rate > 0">
    <mat-icon>cloud_upload</mat-icon>{{torrent?.up_rate | bytesSize}}/s
  </span>
  <span class="ratio" [class.very-bad]="torrent?.ratio < 0.1" [class.good]="torrent?.ratio > 1" [class.very-good]="torrent?.ratio > 2">
    <mat-icon>compare_arrows</mat-icon>{{torrent?.ratio.toFixed(2)}}
  </span>
  <span class="date">{{formatDate(torrent?.addtime * 1000)}}</span>
</div>
