<mat-card appearance="outlined">
  <mat-card-header>{{'title.rtorrent.status' | translate}}</mat-card-header>
  <mat-card-content>
    <div>
      <span class="label" title="{{'label.down_rate' | translate}}"><mat-icon>cloud_download</mat-icon><span>{{'label.down_rate' | translate}}</span></span>
      <span class="value">{{rtorrentStatus?.down_rate | bytesSize}}/s</span>
    </div>
    <div>
      <span class="label" title="{{'label.down_total' | translate}}"><mat-icon></mat-icon><span>{{'label.down_total' | translate}}</span></span>
      <span class="value">{{rtorrentStatus?.down_total | bytesSize}}</span>
    </div>
    <div>
      <span class="label" title="{{'label.up_rate' | translate}}"><mat-icon>cloud_upload</mat-icon><span>{{'label.up_rate' | translate}}</span></span>
      <span class="value">{{rtorrentStatus?.up_rate | bytesSize}}/s</span>
    </div>
    <div>
      <span class="label" title="{{'label.up_total' | translate}}"><mat-icon></mat-icon><span>{{'label.up_total' | translate}}</span></span>
      <span class="value">{{rtorrentStatus?.up_total | bytesSize}}</span>
    </div>
    <div>
      <span class="label" title="{{'label.free_disk_space' | translate}}"><mat-icon>storage</mat-icon><span>{{'label.free_disk_space' | translate}}</span></span>
      <span class="value">{{rtorrentStatus?.free_disk_space | bytesSize}}</span>
    </div>
    <div>
      <span class="label" title="{{'label.free_disk_space_local' | translate}}"><mat-icon>storage</mat-icon><span>{{'label.free_disk_space_local' | translate}}</span></span>
      <span class="value">{{rtorrentStatus?.free_disk_space_local | bytesSize}}</span>
    </div>
  </mat-card-content>
</mat-card>
